:root {
  --dark-dracula: #1f1d36;
  --purple-dracula: #3f3351;
  --lilac-dracula: #864879;
  --code-dracula: #FF60DE;
  --rose-dracula: #e9a6a6;
  --light-dracula: #E0D0FF;
  --white: #ffffff;
  --grey: #F0EAF3;
  --dark: #262626;
  --rose: #DF2A72; 
  

  /* Links */

  --green: #42E66C;
  --red: #e64747;
  --blue: #8be9fd;
  --yellow: #e4f34a;
  --orange: #ffb86c;

  /* Font size */

  --sm: 2.4rem;
  --md: 3.6rem;
  --lg: 6.4rem;


/* 
  --sm: 1.2rem;
  --md: 1.4rem;
  --lg: 1.6rem; */
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    111.62deg,
    #7a5ab7 8.26%,
    #7a5ab7 33.81%,
    #ac4496 61.34%,
    #ac4496 90.83%
  );
}

h1 {
  font-size: var(--lg);
  color: var(--light-dracula);
}

h2 {
  font-size: var(--md);
  color: var(--green);
}

p {
  font-size: 2.4rem;
  color: var(--white);
}

main {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh;
}

.aboutme {
  height: 95vh;
  width: 95vw;
  background-color: var(--dark-dracula);
  border-radius: 60px;
}


.info {
  width: 380px;
  padding: 40px;
  position: relative;
}

.info .command {
  padding-bottom: 20px;
}

.info h2:nth-child(2) {
  color: var(--code-dracula);
}

.info img {
  position: absolute;
  top: 20px;
  right: 28px;
}

.info .frontend {
  padding: 8px 0;
}

.aboutme-info {
  padding: 12px 0;
}

.interest {
  padding: 12px 0;
}

.icon {
  color: var(--green);
}

.code {
  color: var(--code-dracula);
}

.const {
  color: var(--light-dracula);
}

.comment {
  color: var(--grey);
}

.bracket {
  color: var(--orange);
}

.rose {
  color: var(--rose);
}