:root {
  --dark-dracula: #1f1d36;
  --purple-dracula: #3f3351;
  --lilac-dracula: #864879;
  --rose-dracula: #e9a6a6;
  --light-dracula: #d1c4e9;
  --white: #ffffff;
  --grey: #7a7a7a;
  --dark: #262626;

  /* Links */

  --green: #42e66c;
  --red: #e64747;
  --blue: #8be9fd;
  --yellow: #e4f34a;
  --orange: #ffb86c;

  /* Font size */

  --sm: 1.2rem;
  --md: 1.4rem;
  --lg: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

h1,
p {
  color: var(--light-dracula);
}

.container {
  display: grid;
  height: 100vh;
  grid-template: repeat(7, 1fr) / repeat(5, 1fr);
  background-color: var(--dark-dracula);
  place-items: center;
}

.github {
  grid-area: 1 / 1 / 2 / 2;
}

.image-moon {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.image-moon img {
  padding-block-start: 20px;
  width: 68px;
  height: auto;
}

.aboutme {
    /* background-color: var(--lilac-dracula); */
    grid-area: 3 / 2 / 6 / 5 ;
}