:root {
  --dark-dracula: #1f1d36;
  --purple-dracula: #3f3351;
  --lilac-dracula: #864879;
  --code-dracula: #ff60de;
  --rose-dracula: #e9a6a6;
  --light-dracula: #d1c4e9;
  --white: #ffffff;
  --grey: #7a7a7a;
  --dark: #262626;

  /* Links */

  --green: #42e66c;
  --red: #e64747;
  --blue: #8be9fd;
  --yellow: #e4f34a;
  --orange: #ffb86c;

  /* Font size */

  --sm: 1.2rem;
  --md: 1.4rem;
  --lg: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-dracula);
}

h1,
p {
  color: var(--light-dracula);
}

.container {
  display: grid;
  height: 100vh;
  grid-template: repeat(7, 1fr) / repeat(5, 1fr);
  place-items: center;
}

.github {
  place-self: start;
  padding: 12px 0 0 12px;
  grid-area: 1 / 1 / 2 / 2;
  font-weight: 700;
}

.github p:nth-child(1) {
  position: absolute;
  top: 0;
  left: -55px;
  padding-right: 90px;
  transform: rotate(270deg);
  color: var(--orange);
  font-weight: 700;
  font-size: 1.5rem;
}

.github p:nth-child(2) a {
 text-decoration: none;
 color: var(--blue);
  font-weight: 700;
}


.image-moon {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.image-moon img {
  /* padding-block-start: 12px; */
  width: 68px;
  height: auto;
}

/*** MAIN ***/

.aboutme-container {
  /* background-color: var(--lilac-dracula); */
  grid-area: 3 / 2 / 6 / 5;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 4fr;
}

.header img {
  padding-left: 8px;
}

.name {
  padding-left: 12px;
}

.name span {
  color: var(--green);
  font-weight: 700;
}

.main h2 {
  color: var(--green);
  padding-bottom: 4px;
}

.tab {
  padding-left: 16px;
}

.comment {
  /* color: #ffcbcb; */
  color: var(--white);
}

.brackets {
  color: var(--orange);
}

.code {
  color: var(--code-dracula);
}

.string {
  color: var(--blue);
  /* color: var(--orange); */
}

.bat {
  grid-area: 2 / 4 / 3 / 5;
}

.bat img {
  padding-block-start: 12px;
  width: 80px;
  height: auto;
}

.cuadro {
  grid-area: 6 / 6 / 9 / 9;
  place-self: start;
  opacity: 50%;
}

.cuadro img {
 width: 80px;
 height: auto;
}