:root {
  --dark-dracula: #1f1d36;
  --purple-dracula: #2B2852;
  --lilac-dracula: #864879;
  --code-dracula: #FF60DE;
  --rose-dracula: #e9a6a6;
  --light-dracula: #E0D0FF;
  --white: #ffffff;
  --grey: #F0EAF3;
  --dark: #262626;
  --rose: #DF2A72; 
  
  
  /* Links */

  --green: #42E66C;
  --red: #e64747;
  --blue: #8be9fd;
  --yellow: #e4f34a;
  --orange: #ffb86c;

  /* Font size */

  --sm: 2.4rem;
  --md: 3.6rem;
  --lg: 6.4rem;


/* 
  --sm: 1.2rem;
  --md: 1.4rem;
  --lg: 1.6rem; */
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    111.62deg,
    #7a5ab7 8.26%,
    #7a5ab7 33.81%,
    #ac4496 61.34%,
    #ac4496 90.83%
  );
}

h1 {
  font-size: var(--lg);
  color: var(--light-dracula);
}

h2 {
  font-size: var(--md);
  color: var(--green);
}

h3 {
  font-size: 2.6rem;
  color: var(--white);
}

p {
  font-size: 2.4rem;
  color: var(--white);
}

main {
  display: flex;
  place-content: center;
  place-items: center;
  margin: 24px;
}

.aboutme {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 95%;
  width: 95vw;
  background-color: var(--dark-dracula);
  border-radius: 60px;
  padding: 40px;
}


.info {
  width: 380px;
  /* padding: 40px; */
  position: relative;
}

.info .command {
  padding-bottom: 20px;
}

.info h2:nth-child(2) {
  color: var(--code-dracula);
}

.info img {
  position: absolute;
  top: 20px;
  right: 28px;
}

.info .frontend {
  padding: 8px 0;
}

.aboutme-info {
  padding: 12px 0;
}

.interest {
  padding: 12px 0;
}

.icon {
  color: var(--green);
}

.code {
  color: var(--code-dracula);
}

.const {
  color: var(--light-dracula);
}

.comment {
  color: var(--grey);
}

.bracket {
  color: var(--orange);
}

.rose {
  color: var(--rose);
}

.contact {
  margin: 20px 0;
  background-color: var(--dark-dracula);
  border-radius: 24px;
  padding: 20px;
  filter: drop-shadow(-8px 8px 4px rgba(255, 96, 222, 0.25));
}

.contact-title {
  color: var(--code-dracula);
}


/** Portfolio **/


.portfolio {
  padding: 24px;
  background-color: var(--purple-dracula);
  border-radius: 60px;
}

.portfolio h1 {
  color: var(--green);
  text-align: center;
  padding: 20px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-project {
  position: relative;
}

.card-project img {
  width: 280px;
  height: 180px;
  border-radius: 24px;
}

.card-project h3 {
  position: absolute;
  bottom: 8px;
  left: 18px;
}

.shadow {
  position: absolute;
  bottom: 2px;
  height: 80px;
  width: 280px;
  background: linear-gradient(180deg, rgba(29, 32, 54, 0) 0%, rgba(29, 32, 54, 0) 8.03%, rgba(29, 32, 54, 0) 15.84%, rgba(29, 32, 54, 0.9) 54.91%, rgba(29, 32, 54, 0.9) 59.59%, rgba(31, 29, 54, 0.9) 67.93%, rgba(29, 32, 54, 0.9) 76.26%, rgba(31, 29, 54, 0.9) 76.26%, rgba(29, 32, 54, 0.9) 86.68%, rgba(29, 32, 54, 0.9) 92.93%, rgba(29, 32, 54, 0.9) 100%);
  border-radius: 0 0 24px 24px;
}

